<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/fav.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Primary Meta Tags -->
<title>XC Scan — Native Crosschain Explorer</title>
<meta name="title" content="XC Scan — Native Crosschain Explorer" />
<meta
  name="description"
  content="Native open-source explorer for Polkadot and Kusama crosschain activity. Track transfers, messages, and programmable XCM across chains and consensus systems."
/>
<meta
  name="keywords"
  content="XC Scan, Polkadot Explorer, XCM Explorer, Cross-Consensus Messaging, Crosschain Transfers, Kusama Analytics, Programmable Crosschain, Blockchain Explorer"
/>
<meta name="author" content="SO/DA zone" />
<meta name="robots" content="index, follow" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="XC Scan — Native Crosschain Explorer" />
<meta
  name="twitter:description"
  content="Native open-source explorer for Polkadot and Kusama crosschain activity. Track transfers, messages, and programmable XCM across chains and consensus systems."
/>
<meta name="twitter:image" content="https://xcscan.io/og_1200x675.png" />
<meta name="twitter:site" content="@SO_DA_zone" />

<!-- Open Graph Meta Tags -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://xcscan.io/" />
<meta property="og:title" content="XC Scan — Native Crosschain Explorer" />
<meta
  property="og:description"
  content="Native open-source explorer for Polkadot and Kusama crosschain activity. Track transfers, messages, and programmable XCM across chains and consensus systems."
/>
<meta property="og:image" content="https://xcscan.io/og_1200x630.png" />
<meta property="og:site_name" content="XC Scan" />
