<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/fav.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Primary Meta Tags -->
<title>XCSCAN — Crosschain Explorer</title>
<meta name="title" content="XCSCAN — Crosschain Explorer" />
<meta
  name="description"
  content="The native crosschain explorer for Polkadot and Kusama. Open-source. Built for XCM."
/>
<meta
  name="keywords"
  content="XCSCAN, Polkadot Explorer, XCM Explorer, Cross-Consensus Messaging, Crosschain Transfers, Kusama Analytics, Programmable Crosschain, Blockchain Explorer"
/>
<meta name="author" content="SO/DA zone" />
<meta name="robots" content="index, follow" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="XCSCAN — Crosschain Explorer" />
<meta
  name="twitter:description"
  content="The native crosschain explorer for Polkadot and Kusama. Open-source. Built for XCM."
/>
<meta name="twitter:image" content="https://xcscan.io/og_1200x628.png" />
<meta name="twitter:site" content="@SO_DA_zone" />

<!-- Open Graph Meta Tags -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://xcscan.io/" />
<meta property="og:title" content="XCSCAN — Crosschain Explorer" />
<meta
  property="og:description"
  content="The native crosschain explorer for Polkadot and Kusama. Open-source. Built for XCM."
/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="628" />
<meta property="og:image" content="https://xcscan.io/og_1200x628.png" />
<meta property="og:site_name" content="XCSCAN" />

<!-- Sentry -->
<script
  src="https://js.sentry-cdn.com/2d31cff0cf30447ab80d682a8da2d995.min.js"
  crossorigin="anonymous"
></script>
<script>
  Sentry.onLoad(function () {
    Sentry.init({})
  })
  // polyfill
  if (typeof Object.hasOwn !== 'function') {
    Object.hasOwn = function (obj, prop) {
      return Object.prototype.hasOwnProperty.call(obj, prop)
    }
  }
</script>
