<!doctype html>
<html lang="en">
  <head>
    <%- include('/head.html') %>
  </head>

  <body>
    <%- include('/header.html', { currentPage: 'network' }) %>
    <main class="w-full pt-start">
      <section>
        <div
          class="flex flex-col space-y-8 mb-2 md:space-y-0 md:flex-row md:mx-auto w-full max-w-screen-xl md:justify-between md:items-center px-4 md:mb-4"
        >
          <div class="flex space-x-3 text-sm items-center text-white/60">
            <a
              class="group flex space-x-2 items-center"
              href="/analytics/index.html"
            >
              <div
                class="rounded-full bg-white/10 p-1 text-black/90 group-hover:bg-white/30"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 19.5 8.25 12l7.5-7.5"
                  />
                </svg>
              </div>
              <div class="group-hover:text-white">All networks</div>
            </a>
            <div class="text-white/20">/</div>
            <div class="flex space-x-2 items-center" data-network-name></div>
          </div>
          <div class="flex gap-2 items-center">
            <div class="flex flex-col gap-4 grow">
              <div id="select-time" class="flex gap-2 text-sm">
                <span data-value="daily" class="text-white/80 p-1">24H</span>
                <span data-value="weekly" class="text-white/40 p-1">7D</span>
                <span data-value="monthly" class="text-white/40 p-1">30D</span>
                <span data-value="quarterly" class="text-white/40 p-1"
                  >90D</span
                >
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div
          id="counters"
          class="mx-auto flex w-full max-w-screen-xl flex-col md:items-center md:flex-row md:flex-wrap md:justify-between gap-8 px-4 py-4"
        >
          <div
            id="volume-counter"
            class="flex flex-col gap-4 rounded-md bg-white/5 grow p-4"
          >
            <span class="text-white/70 font-medium"> Volume USD </span>
            <div class="flex flex-col gap-1">
              <div
                class="flex animate-pulse space-x-4 h-15 bg-linear-to-r from-white/10 to-transparent"
              ></div>
            </div>
          </div>
          <div
            id="tx-counter"
            class="flex flex-col gap-4 rounded-md bg-white/5 grow p-4"
          >
            <span class="text-white/70 font-medium"> Transfers </span>
            <div class="flex flex-col gap-1">
              <div
                class="flex animate-pulse space-x-4 h-15 bg-linear-to-r from-white/10 to-transparent"
              ></div>
            </div>
          </div>
          <div
            id="accounts-counter"
            class="flex flex-col gap-4 rounded-md bg-white/5 grow p-4"
          >
            <span class="text-white/70 font-medium"> Accounts </span>
            <div class="flex flex-col gap-1">
              <div
                class="flex animate-pulse space-x-4 h-15 bg-linear-to-r from-white/10 to-transparent"
              ></div>
            </div>
          </div>
          <div
            id="roundtrip-counter"
            class="flex md:w- flex-col gap-4 rounded-md bg-white/5 grow p-4"
          >
            <span class="text-white/70 font-medium"> Avg. Time </span>
            <div class="flex flex-col gap-1">
              <div
                class="flex animate-pulse space-x-4 h-15 bg-linear-to-r from-white/10 to-transparent"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div
          class="mx-auto flex w-full max-w-screen-xl flex-col gap-4 px-4 py-8 md:gap-8"
        >
          <div
            class="flex flex-col gap-y-4 md:flex-row md:gap-2 md:items-center md:justify-between"
          >
            <div class="flex gap-2 items-center">
              <div data-network-icon></div>
              <span class="text-white/75 text-xl font-medium"> Transfers </span>
              <span class="text-sm text-white/50 current-period"></span>
            </div>
            <div class="flex gap-2 items-center text-sm">
              <div
                id="select-series-type"
                class="dropdown relative inline-block text-left text-sm"
              >
                <button
                  type="button"
                  data-series-button
                  class="dropdown-toggle space-x-2"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="series-label text-white/80"></span>
                  <svg
                    class="h-4 w-4 text-white/40"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.23 7.21a.75.75 0 011.06.02L10 11.585l3.71-4.355a.75.75 0 011.14.976l-4.25 5a.75.75 0 01-1.14 0l-4.25-5a.75.75 0 01.02-1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>
                <div
                  data-series-options
                  class="dropdown-menu hidden flex min-w-40 p-4"
                  role="menu"
                  tabindex="-1"
                >
                  <button
                    data-dropdown-close
                    class="flex ml-auto md:hidden justify-center items-center size-6 rounded-full bg-white/40 hover:bg-white/60"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#121212"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="w-3.5 h-3.5"
                    >
                      <line x1="18" y1="6" x2="6" y2="18" />
                      <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                  </button>
                  <button
                    data-value="volume"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Volume USD
                  </button>
                  <button
                    data-value="count"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Transfers
                  </button>
                  <button
                    data-value="flow"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Netflow USD
                  </button>
                  <button
                    data-value="share"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Share %
                  </button>
                </div>
              </div>
              <div class="tooltip-container">
                <button class="info-button" tabindex="0">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
                    />
                  </svg>
                </button>
                <span
                  class="tooltip-text text-sm text-white/50 current-type"
                ></span>
              </div>
            </div>
          </div>
          <div class="w-full bg-white/5 rounded-md p-4">
            <div id="chart-container" class="w-full h-70 chart-container">
              <div id="chart"></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div
          class="mx-auto flex w-full max-w-screen-xl flex-col gap-8 px-4 py-8"
        >
          <div
            class="flex flex-col gap-y-4 md:flex-row md:gap-2 md:items-center md:justify-between"
          >
            <div class="flex gap-2 items-center">
              <div data-network-icon></div>
              <span class="text-white/75 text-xl font-medium"> Assets </span>
              <span class="text-sm text-white/50 current-period"></span>
            </div>
            <div class="flex gap-2 items-center text-sm">
              <div
                id="select-network-assets-type"
                class="dropdown relative inline-block text-left text-sm"
              >
                <button
                  type="button"
                  data-series-button
                  class="dropdown-toggle space-x-2"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="series-label text-white/80"></span>
                  <svg
                    class="h-4 w-4 text-white/40"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.23 7.21a.75.75 0 011.06.02L10 11.585l3.71-4.355a.75.75 0 011.14.976l-4.25 5a.75.75 0 01-1.14 0l-4.25-5a.75.75 0 01.02-1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>

                <div
                  data-series-options
                  class="dropdown-menu hidden flex min-w-40 p-4"
                  role="menu"
                  tabindex="-1"
                >
                  <button
                    data-dropdown-close
                    class="flex ml-auto md:hidden justify-center items-center size-6 rounded-full bg-white/40 hover:bg-white/60"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#121212"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="w-3.5 h-3.5"
                    >
                      <line x1="18" y1="6" x2="6" y2="18" />
                      <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                  </button>
                  <button
                    data-value="volume"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Volume USD
                  </button>
                  <button
                    data-value="asset"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Amount
                  </button>
                  <button
                    data-value="count"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Transfers
                  </button>
                </div>
              </div>
              <div class="tooltip-container">
                <button class="info-button" tabindex="0">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
                    />
                  </svg>
                </button>
                <span
                  class="tooltip-text text-sm text-white/50 network-assets-current-type"
                ></span>
              </div>
            </div>
          </div>
          <div class="w-full bg-white/5 rounded-md p-4">
            <div id="grid-assets" class="w-full"></div>
          </div>
        </div>
        <div
          class="mx-auto flex w-full max-w-screen-xl flex-col gap-8 px-4 py-8"
        >
          <div
            class="flex flex-col gap-y-4 md:flex-row md:gap-2 md:items-center md:justify-between"
          >
            <div class="flex gap-2 items-center">
              <div data-network-icon></div>
              <span class="text-white/75 text-xl font-medium"> Channels </span>
              <span class="text-sm text-white/50 current-period"></span>
            </div>
            <div class="flex gap-2 items-center text-sm">
              <div
                id="select-network-channels-type"
                class="dropdown relative inline-block text-left text-sm"
              >
                <button
                  type="button"
                  data-series-button
                  class="dropdown-toggle space-x-2"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="series-label text-white/80"></span>
                  <svg
                    class="h-4 w-4 text-white/40"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.23 7.21a.75.75 0 011.06.02L10 11.585l3.71-4.355a.75.75 0 011.14.976l-4.25 5a.75.75 0 01-1.14 0l-4.25-5a.75.75 0 01.02-1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>

                <div
                  data-series-options
                  class="dropdown-menu hidden flex min-w-40 p-4"
                  role="menu"
                  tabindex="-1"
                >
                  <button
                    data-dropdown-close
                    class="flex ml-auto md:hidden justify-center items-center size-6 rounded-full bg-white/40 hover:bg-white/60"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#121212"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="w-3.5 h-3.5"
                    >
                      <line x1="18" y1="6" x2="6" y2="18" />
                      <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                  </button>
                  <button
                    data-value="volume"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Volume
                  </button>
                  <button
                    data-value="count"
                    class="dropdown-item"
                    role="menuitem"
                  >
                    Transfers
                  </button>
                </div>
              </div>
              <div class="tooltip-container">
                <button class="info-button" tabindex="0">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
                    />
                  </svg>
                </button>
                <span
                  class="tooltip-text text-sm text-white/50 network-channels-current-type"
                ></span>
              </div>
            </div>
          </div>
          <div class="w-full bg-white/5 rounded-md p-4">
            <div id="grid-channels" class="w-full"></div>
          </div>
        </div>
      </section>
    </main>

    <%- include('/footer.html') %>

    <script type="module" src="/src/analytics/network/main.js"></script>
  </body>
</html>
